<table class="w-full table-fixed rounded-xl overflow-hidden shadow-sm">
  <thead class="bg-gray-100 border border-gray">
    <tr class="divide-x">
      <th class="p-4"><%= link_to "First Name", people_path(sort: :first_name, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Last Name", people_path(sort: :last_name, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Location/s", people_path(sort: :location, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Species", people_path(sort: :species, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Gender", people_path(sort: :gender, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Affiliation/s", people_path(sort: :affiliation, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Weapon", people_path(sort: :weapon, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
      <th class="p-4"><%= link_to "Vehicle", people_path(sort: :vehicle, direction: params[:direction] == "asc" ? "desc" : "asc")%></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr class="divide-y divide-x divide-gray-100 border border-gray-200 overflow-hidden">
        <td class="p-3 text-center"><%= person.first_name %></td>
        <td class="p-3 text-center"><%= person.last_name %></td>
        <td class="p-3 text-center"><%= person.formatted_locations %></td>
        <td class="p-3 text-center"><%= person.species %></td>
        <td class="p-3 text-center"><%= person.gender %></td>                    
        <td class="p-3 text-center"><%= person.formatted_affiliations %></td>
        <td class="p-3 text-center"><%= person.weapon %></td>
        <td class="p-3 text-center"><%= person.vehicle %></td>          
      </tr>
    <% end %>
  </tbody>
</table>